@page "/login"


<div class="d-flex flex-column position-absolute top-50 start-50 translate-middle w-50">
    <img src="images/logo.png" class="mb-4 mx-auto" alt="Логотип">
    <h1 class="text-center h1 mb-4">Личный кабинет эмитента</h1>
    <EditForm Model="@LoginViewModel" class="w-50 mx-auto" OnValidSubmit="@OnValidSubmit" FormName="@nameof(LoginPage)">
        <DataAnnotationsValidator />
        <div class="form-group mb-3">
            <InputText placeholder="Логин" class="form-control rounded-pill border-2" @bind-Value="LoginViewModel!.Login"/>
            <ValidationMessage For="@(() => LoginViewModel.Login)" class="text-danger"/>
        </div>

        <div class=" form-gruop mb-4">
            <InputText type="password" placeholder='Пароль' class="form-control rounded-pill border-2" @bind-Value="LoginViewModel!.Password"/>
            <ValidationMessage  For="@(() => LoginViewModel.Password)" class="text-danger"/>
        </div>
        <button type="submit" class="btn btn-primary d-block mx-auto w-25 rounded-pill">
            Вход
        </button>
    </EditForm>
</div>
